Repository flex-development/grease: changes, and which Codecov flags are due for each by the changed paths.
All: node20, node19, node18, node16, bump, changelog, commands, decorators, git, models, options, providers

ci(workflows): [`release`] set trust on gpg key via action input
  .github/workflows/release.yml
Due: none

feat(cli): `InfoCommand`
  package.json
  src/__tests__/grease.service.spec.ts
  src/cli/commands/__tests__/bump.command.functional.spec.ts
  src/cli/commands/__tests__/info.command.functional.spec.ts
  src/cli/commands/grease.command.ts
  src/cli/commands/index.ts
  src/cli/commands/info.command.opts.ts
  src/cli/commands/info.command.ts
  src/cli/program.module.ts
  src/grease.service.ts
  yarn.lock
Due: node20, node19, node18, node16, commands

feat(cli): [`InfoCommand`] `--yaml`
  src/cli/commands/__tests__/info.command.functional.spec.ts
  src/cli/commands/info.command.opts.ts
  src/cli/commands/info.command.ts
Due: node20, node19, node18, node16, commands

feat(cli): [`InfoCommand`] `--pm`
  .dictionary.txt
  .github/ISSUE_TEMPLATE/bug.yml
  package.json
  src/cli/commands/__tests__/info.command.functional.spec.ts
  src/cli/commands/info.command.opts.ts
  src/cli/commands/info.command.ts
Due: node20, node19, node18, node16, commands

ci: add codecov status checks
  .github/infrastructure.yml
Due: none

feat(cli): `ChangelogCommand`
  .github/workflows/release.yml
  CHANGELOG.md
  src/cli/commands/__tests__/changelog.command.functional.spec.ts
  src/cli/commands/changelog.command.opts.ts
  src/cli/commands/changelog.command.ts
  src/cli/commands/grease.command.ts
  src/cli/commands/index.ts
  src/cli/program.module.ts
  src/subdomains/changelog/events/__tests__/changelog.listener.functional.spec.ts
  src/subdomains/changelog/events/changelog.listener.ts
  src/subdomains/changelog/models/__tests__/changelog-entry.model.spec.ts
  src/subdomains/changelog/models/__tests__/changelog-infile.model.spec.ts
  src/subdomains/changelog/models/changelog-entry.model.ts
  src/subdomains/changelog/models/changelog-infile.model.ts
  src/subdomains/changelog/models/changelog-stream.model.ts
Due: node20, node19, node18, node16, changelog, commands

build(deps-dev): downgrade eslint-plugin-import from 2.28.1 to 2.27.5
  package.json
  yarn.lock
Due: none

ci: [@dependabot] ignore eslint-plugin-import
  .github/dependabot.yml
Due: none

feat(cli): `TagCommand`
  src/cli/commands/__tests__/bump.command.functional.spec.ts
  src/cli/commands/__tests__/tag.command.functional.spec.ts
  src/cli/commands/bump.command.ts
  src/cli/commands/grease.command.ts
  src/cli/commands/index.ts
  src/cli/commands/info.command.ts
  src/cli/commands/tag.command.opts.ts
  src/cli/commands/tag.command.ts
  src/cli/program.module.ts
  src/grease.service.ts
  src/subdomains/config/providers/__snapshots__/config.service.functional.snap
  src/subdomains/git/operations/tag.operation.ts
Due: node20, node19, node18, node16, commands, git

ci(workflows): [`ci`] add `changelog` job
  .github/workflows/ci.yml
  .github/workflows/git.yml
Due: none

ci(workflows): add `release-branch`
  .dictionary.txt
  .github/.gitconfig
  .github/workflows/dependabot-auto.yml
  .github/workflows/git.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  scripts/release.sh
  src/cli/commands/bump.command.ts
  src/cli/commands/changelog.command.ts
Due: node20, node19, node18, node16, commands

chore(scripts): remove `typecheck-build`
  package.json
  scripts/typecheck-build.sh
Due: none

chore(pkg): update package info
  .github/infrastructure.yml
  README.md
  package.json
Due: none

ci(workflows): [`release`] cleanup `publish` job
  .github/workflows/release.yml
Due: none

ci(workflows): [`release`] use `secrets.PAT_REPO`
  .github/workflows/release.yml
Due: none

ci(workflows): [`release-branch`] add `pr` job
  .github/workflows/release-branch.yml
Due: none

build(nvm)!: require `>=18.18.2 <20.6.0 || >20.6.0`
  .codecov.yml
  .github/infrastructure.yml
  .github/workflows/ci.yml
  package.json
Due: none

chore(scripts): [`release`] fix branching logic
  scripts/release.sh
Due: none

docs: update deployment guide
  CONTRIBUTING.md
Due: none

ci(workflows): [`release-branch`] fix pr assignee syntax
  .github/workflows/release-branch.yml
Due: none

release: grease@3.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: none

ci(workflows): [`ci`] remove `release/**` branch trigger
  .github/workflows/ci.yml
Due: none

test(changelog): [`ChangelogStream`] stabilize `#print` test
  src/subdomains/changelog/models/__tests__/changelog-stream.model.functional.spec.ts
Due: none

fix(changelog): samefile writes
  .lintstagedrc.json
  src/subdomains/changelog/models/changelog-stream.model.ts
  src/subdomains/changelog/operations/__tests__/changelog.operation.spec.ts
  src/subdomains/changelog/operations/changelog.operation.ts
Due: node20, node19, node18, node16, changelog

release: grease@3.0.0-alpha.1 (#160)
  CHANGELOG.md
  package.json
Due: none

test: stabilize changelog tests
  src/__tests__/grease.service.spec.ts
  src/subdomains/changelog/models/__tests__/changelog-entry.model.spec.ts
  src/subdomains/changelog/models/__tests__/changelog-formatter.model.spec.ts
Due: none

chore(github): add labels `scope:changelog` and `scope:git`
  .github/infrastructure.yml
Due: none

ci(workflows): [`release`] fix `jobs.publish.steps.checkout` permissions
  .github/workflows/release.yml
Due: none

ci(workflows): [`release`] fix `jobs.publish.steps.tag` command
  .github/workflows/release.yml
  src/cli/commands/tag.command.ts
Due: node20, node19, node18, node16, commands

ci(workflows): [`ci`] add `changelog` job summary
  .github/workflows/ci.yml
Due: none

ci: add `changelog` job to required status checks
  .github/infrastructure.yml
Due: none

ci(workflows): [`release`] add releases notes to job summary
  .github/workflows/release.yml
Due: none

ci(workflows): add `dependabot-dedupe`
  .dictionary.txt
  .github/dependabot.yml
  .github/infrastructure.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/dependabot-dedupe.yml
  .npmrc
  .yarnrc.yml
  CONTRIBUTING.md
Due: none

Path conditions:
  node20: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  node19: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  node18: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  node16: any of: src/, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  bump: any of: src/subdomains/bump/**/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  changelog: any of: src/subdomains/changelog/**/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  commands: any of: src/cli/commands/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  decorators: any of: src/decorators/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  git: any of: src/subdomains/git/**/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  models: any of: src/models/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  options: any of: src/options/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
  providers: any of: src/providers/*.ts, but not: **/__mocks__/**, **/__tests__/**, **/index.ts, **/interfaces/, **/types/, src/cli/commands/*.opts.ts, src/subdomains/**/*.module.ts
